/* Search popup */
#popup-search {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  z-index: 1000;
  width: 465px;
  height: 500px;
  border-radius: 20px; /* Curved corners */
  font-family: 'Courier New';
  font-weight: bold;
  opacity: 0;
  transition: opacity 0.5s ease, transform 0.5s ease; /* Fade-in/Fade-out transition */
}

/* Small screens (e.g., mobile) */
@media screen and (max-width: 600px) {
  #popup-search {
    width: 344px;
    height: 470px;
  }
}

/* Medium screens (e.g., tablets) */
@media screen and (min-width: 601px) and (max-width: 1024px) {
  #popup-search {
    width: 545px;
    height: 565px;
  }
}

#popup-search.show {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
  border-radius: 20px; /* Curved corners */
}

/* Search bar */
.search-bar {
  position: fixed;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  z-index: 1000;
  width: 465px;
  height: 500px;
  font-family: 'Courier New';
  font-weight: bold;
}

/* Small screens (e.g., mobile) */
@media screen and (max-width: 600px) {
  .search-bar {
    width: 331px;
    height: 437px;
  }
}

/* Medium screens (e.g., tablets) */
@media screen and (min-width: 601px) and (max-width: 1024px) {
  .search-bar {
    width: 520px;
    height: 525px;
  }
}

.search-bar input[type='search'] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
  font-family: 'Courier New';
  margin-bottom: 10px;
  font-weight: bold;
}

.result {
  width: 100%;
  max-width: 600px;
  max-height: 420px;
  overflow-y: auto;
  margin-top: 20px;
}

/* Small screens (e.g., mobile) */
@media screen and (max-width: 600px) {
  .result {
    max-height: 336px;
    padding-left: 5px;
  }
}

/* Medium screens (e.g., tablets) */
@media screen and (min-width: 601px) and (max-width: 1024px) {
  .result {
    max-height: 425px;
  }
}

.result ul {
  list-style-type: none;
  font-family: 'Courier New';
  padding: 0;
  margin: 0;
  font-weight: bold;
}

.result ul li {
  padding: 15px;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  margin-bottom: 10px;
  background-color: white;
  transition: box-shadow 0.3s;
  font-family: 'Courier New';
  font-weight: bold;
}

.result ul li:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.result ul li a {
  text-decoration: none;
  color: #333;
  font-size: 18px;
  font-family: 'Courier New';
  font-weight: bold;
}

.result ul li a:hover {
  text-decoration: underline;
}

/* Report popup */
.popup-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.popup {
  background: #fff;
  margin: 50px auto;
  padding: 20px;
  border-radius: 10px;
  max-width: 500px;
  position: relative;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.popup-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.popup-header h2 {
  margin: 0;
}

.popup-close {
  font-size: 24px;
  cursor: pointer;
}

.popup-form .form-group {
  margin-bottom: 15px;
}

.popup-form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

/* Styles for the dropdown menu in the report form */
.popup-form select.form-control {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  font-family: 'Courier New';
  font-size: 16px;
  margin-bottom: 15px;
  transition: border-color 0.3s ease;
  font-weight: bold;
}

.popup-form select.form-control:focus {
  outline: none;
  border-color: #007bff;
}

.popup-form .btn-submit {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.popup-form .btn-submit:hover {
  background-color: #0056b3;
}

.popup-form input:focus,
.popup-form textarea:focus,
.popup-form select:focus {
  border-color: #007bff;
  outline: none;
}

